body {
  font-family: Poppins, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  outline: 0;
  box-sizing: border-box;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
#header_part {
  background-image: url("./images/banner/banner3.png");
  background-position: left !important;
  background-size: cover;
  height: 100vh;
}
#header_part .main_div {
  width: 600px;
  text-align: right;
  margin-left: auto;
  padding: 200px 80px 200px 20px;
}
.header_content h3 {
  font-size: 44px;
  color: #ffffff;
  font-weight: 700;
  line-height: 54px;
}
.header_content p {
  color: #ddd;
  font-size: 14px;
  padding: 12px 0px;
}
.header_content button {
  padding: 13px 35px;
  background-color: #ffffff;
  color: blue;
  font-weight: 700;
  border: none;
  margin: 10px 0px;
}

/* failure_part css start here  */
#failure_part {
  padding: 60px 0px;
}

/* failure_part css end here  */

.failure_content {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
.failure_content img {
  width: 370px;
  text-align: center;
}
.right_content {
  text-align: left;
  padding: 12px 0px;
}
.failure_content .right_content {
  width: 600px;
  margin-left: auto;
}
.right_content h3 {
  font-size: 32px;
  font-weight: bold;
}
.right_content p {
  font-size: 13px;
  padding: 12px 0px;
}
.right_content ul {
  padding-left: 18px;
}
.right_content ul li {
  list-style-type: square;
  padding: 2px 0px;
}
.right_content button {
  padding: 10px 35px;
  background-color: blue;
  color: #ffffff;
  font-weight: 700;
  border: none;
  margin: 10px 0px;
}
/* myplan css part start here  */
#myplan h4 {
  font-size: 30px;
  font-weight: 700;
  padding: 14px 0px;
  text-align: center;
}
.plan_box {
  text-align: center;
}
.plan_box h3 {
  font-size: 19px;
  font-weight: 900 !important;
}
.plan_box p {
  font-size: 16px;
  padding: 4px 0px;
  font-weight: 700;
  color: gray;
}
.plan_box img {
  width: 70px;
}
.plain_box_container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* myplan css part end here  */
/* call_action css part start here  */
#call_action {
  background-image: url(./images/watch.png);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 40px 0px 40px 50px;
  margin: 80px 0px;
}
#call_action h3 {
  color: #ffffff;
  font-size: 34px;
}
#call_action button {
  padding: 10px 35px;
  background-color: #ffffff;
  color: #2b1ee6;
  font-weight: 700;
  border: none;
  margin: 10px 0px;
}
#call_action::after {
  position: absolute;
  content: "";
  background-image: url("./images/gradient1.png");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* call_action css part end here  */

/* footer_part css start here   */
#footer_part {
  background-color: rgb(20, 20, 20);
  padding: 40px 0px;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_about {
  width: 600px;
}
.footer_about h3 {
  color: #ffffff;
  font-weight: 700;
}
.footer_about span {
  color: #ddd;
  padding: 12px 0px;
  font-size: 15px;
}
.footer_about p {
  color: #ddd;
}
.footer_about .icon img {
  width: 35px;
  margin: 7px;
}
.footer_newsletter input {
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 12px;
}
.footer_newsletter button {
  padding: 10px 28px;
  background-color: #ddd;
  color: #2b1ee6;
  display: block;
  font-weight: bold;
  margin: 12px 0px;
}
/* footer_part css end here   */
